<div class="center">
  <div class="button">
    <input id="generate" type="button" value="Rebuild"/>
  </div>

  <div class="button">
    <input id="refresh" type="button" value="Refresh"/>
  </div>

  <div class="button">
    <input id="inspect" type="button" value="Check the Time"/>
  </div>

  <div class="loader" style="display:none;"></div>
  <div class="details" style="display:none;">
    <dl id="repo-date-and-time">
      <dt>
        Repo date
      </dt>
      <dd id="repo-date">
      <dt>
        Repo time
      </dt>
      <dd id="repo-time">
    </dl>
  </div>
</div>
