<h1>{{title}}</h1>
<p>Operations to control the database of Juris-M translators, used to update translators in clients in the field. Use with care!</p>

<div class="button">
  <input id="generate" type="button" value="Regenerate entire database"/>
</div>

<div class="button">
  <input id="inspect" type="button" value="Query repo time"/>
</div>

<dl class="details" id="repo-date-and-time" hidden="true">
  <dt>
    Repo date
  </dt>
  <dd id="repo-date">
  <dt>
    Repo time
  </dt>
  <dd id="repo-time">
</dl>