<div class="center">
  <div class="checkboxes">
    <input name="repos" type="checkbox" id="translators" value="translators"/>
    <label for="translators">Translators</label>
    <input name="repos" type="checkbox" id="csl-styles" value="csl-styles"/>
    <label for="csl-styles">CSL Styles</label>
    <input name="repos" type="checkbox" id="jm-styles" value="jm-styles"/>
    <label for="jm-styles">Jurism Styles</label>
    <input hidden="true" name="repos" type="checkbox" id="jm-modules" value="jm-modules"/>
    <label hidden="true" for="jm-modules">Jurism Modules</label>
  </div>
  <div class="button">
    <input id="generate" type="button" value="Rebuild"/>
  </div>

  <div class="button">
    <input id="refresh" type="button" value="Refresh"/>
  </div>

  <div class="button">
    <input id="inspect" type="button" value="Check the Time"/>
  </div>

  <div class="button">
    <input id="bugs" type="button" value="Bugs"/>
  </div>

  <div class="loader" style="display:none;"></div>
  <div class="details" style="display:none;">
    <dl id="repo-date-and-time">
      <dt>
        Repo date
      </dt>
      <dd id="repo-date">
      <dt>
        Repo time
      </dt>
      <dd id="repo-time">
    </dl>
  </div>
  <div class="buglist">
    <ul>
    </ul>
  </div>
  <div class="showbug">
    <h2 id="bugtitle"></h2>
    <pre id="bugtext"></pre>
  </div>
  <div class="showerror">
    <p/>
  </div>
</div>
