<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/updater/stylesheets/style.css' />
    <script src="/updater/javascripts/admin-page.js"></script>
  </head>
  <body onLoad="setListeners();checkServer();">
    {{{body}}}
    <script src="/updater/javascripts/jquery-3.3.1.min.js" type="text/javascript"></script>
  </body>
</html>
