body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.details {
    text-align: left;
    display: none;
    text-align: center;
}

a {
  color: #00B7FF;
}

.button {
    margin: 1em;
    font-size: 180%;
}

.button input {
    font-size: 180%;
}

.center {
    text-align: center;
}

dl {
    font-size: 120%;
    display: inline-block;
    text-align: left;
}

dt {
    font-weight: bold;
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
